<div class="sidenav">
  <a href="IngresaProc">
    <h3>Ingresa</h3>
  </a>
  <hr>
  <a href="InfDeRegis">
    <h3>Registra</h3>
  </a>
  <hr>
  <a href="MuestraDeArt">
    <h3>Gestiona</h3>
  </a>
  <hr>
</div>

<!-- Page content -->
<div class="main">
  <div class="class=container mt-5"></div>

  <div class="container">
    <div class="cuadro">
      <h1 class="centrar">¿Como buscas tu inmuebel?</h1>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        

        <ul class="ks-cboxtags" formArrayName="caracteristicas">
          <li *ngFor="let caracteritica of caracteristicas.controls; let i = index;" [formGroupName]="i">
            <input id="{{ 'caracteritica-' +  caracteritica.controls['id'].value }}" formControlName="seleccionado"
              type="checkbox" [value]="caracteritica.controls['seleccionado'].value">
            <label for="{{ 'caracteritica-' +  caracteritica.controls['id'].value }}">
              {{caracteritica.value.descripcion}}
            </label>
          </li>
        </ul>

        <button type="submit" class="btn btn-primary btn-lg btn-block">
          Buscar
        </button>

      </form>





      <!-- </ul> -->
    </div>
  </div>

  <table>
    <tr>
      <th>
        Nombre
      </th>
      <th>
        Email
      </th>
      <th>
        Coincidencias
      </th>
      <th>
        Caracteristicas
      </th>
    </tr>
  
    <tr *ngFor="let inmuebleEncontrado of inmueblesEncontrados">
      <td>
        {{inmuebleEncontrado.name}}
      </td>
      <td>
        {{ inmuebleEncontrado.email}}
      </td>
      <td>
        {{ inmuebleEncontrado.contador}}
      </td>
      <td>
        <span *ngFor="let caract of inmuebleEncontrado.caracteristicas">
          {{caract.descripcion}}
        </span>
      </td>
    </tr>
  </table>


</div>

