<div class="sidenav">
  <a href="IngresaProc">
    <h3>Ingresa</h3>
  </a>
  <hr>
  <a href="InfDeRegis">
    <h3>Registra</h3>
  </a>
  <hr>
  <a href="MuestraDeArt">
    <h3>Gestiona</h3>
  </a>
  <hr>
</div>

<!-- Page content -->
<div class="main">
  <div class="class=container mt-5"></div>

  <div class="container">
    <div class="cuadro">
      <h1 class="centrar">Caracteriza tu inmueble</h1>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          Buscar
        </button>

        <ul class="ks-cboxtags" formArrayName="caracteristicas">
          <li *ngFor="let caracteritica of caracteristicas.controls; let i = index;" [formGroupName]="i">
            <input id="{{ 'caracteritica-' +  caracteritica.controls['id'].value }}" formControlName="seleccionado"
              type="checkbox" [value]="caracteritica.controls['seleccionado'].value">
            <label for="{{ 'caracteritica-' +  caracteritica.controls['id'].value }}">
              {{caracteritica.value.descripcion}}
            </label>
          </li>
        </ul>

      </form>





      <!-- <ul class="ks-cboxtags"> -->
      <!--Deje algunos seleccionados para que veas como fucniona (Checked)-->
      <!-- <li><input id="CincoKRenta" type="checkbox" formControlName="CincoKRenta" name="CincoKRenta" value="5k renta"><label for="CincoKRenta" >5k renta</label></li>
              <li><input id="NueveKRenta" type="checkbox" formControlName="NueveKRenta"  ><label for="NueveKRenta" >9k renta</label></li>
              <li><input id="TreintaKRenta" type="checkbox" formControlName="TreintaKRenta" ><label for="TreintaKRenta" >30k renta</label></li>
              <li><input id="SetentaKRenta" type="checkbox" formControlName="SetentaKRenta" ><label for="SetentaKRenta" >70k renta</label></li>
              <li><input id="QuinceMRenta" type="checkbox" formControlName="QuinceMRenta" ><label for="QuinceMRenta">.15M Renta</label></li>
              <li><input id="TreintaCincoMRenta" type="checkbox" formControlName="TreintaCincoMRenta" ><label for="TreintaCincoMRenta">.35M Renta</label></li>
              <li><input id="SetentaMRenta" type="checkbox" formControlName="SetentaMRenta"><label for="SetentaMRenta">.70M Renta</label></li>
              <li><input id="NoventaMRenta" type="checkbox" formControlName="NoventaMRenta" ><label for="NoventaMRenta">.90+M Renta</label></li>
              <li><input id="CincoMventa" type="checkbox" formControlName="CincoMventa" ><label for="CincoMventa">.5M Venta</label></li>
              <li><input id="UnoUnoMventa" type="checkbox" formControlName="UnoUnoMventa" ><label for="UnoUnoMventa">1.1M Venta</label></li>
              <li><input id="DosCincoMventa" type="checkbox" formControlName="DosCincoMventa" ><label for="DosCincoMventa">2.5M Venta</label></li>
              <li><input id="SeisMventa" type="checkbox" formControlName="SeisMventa"><label for="SeisMventa">6M Venta</label></li>
              <li><input id="QuinceMventa" type="checkbox" formControlName="QuinceMventa"><label for="QuinceMventa">15M Venta</label></li>
              <li><input id="CincuentaMventa" type="checkbox" formControlName="CincuentaMventa"><label for="CincuentaMventa">50M Venta</label></li>
              <li><input id="QuinientosMventa" type="checkbox" formControlName="QuinientosMventa"><label for="QuinientosMventa">500M Venta</label></li>
              <li><input id="NovecinetosNoventaYnueveMventa" type="checkbox" formControlName="NovecinetosNoventaYnueveMventa"><label for="NovecinetosNoventaYnueveMventa">999M+ Venta</label></li>
              <li><input id="MX" type="checkbox" formControlName="MX"><label for="MX">$ MX</label></li>
              <li><input id="US" type="checkbox"formControlName="US" ><label for="US">$ US</label></li>
              <li><input id="Euro" type="checkbox" formControlName="Euro"><label for="Euro">$ Euro</label></li>
              <li><input id="Tresbanos" type="checkbox" formControlName="Tresbanos"><label for="Tresbanos">3 baños</label></li>
              <li><input id="Cincobanos" type="checkbox" formControlName="Cincobanos"><label for="Cincobanos">5 baños</label></li>
              <li><input id="NueveOmasbanos" type="checkbox" formControlName="NueveOmasbanos"><label for="NueveOmasbanos">9+ baños</label></li>
              <li><input id="Treshabitaciones" type="checkbox"  formControlName="Treshabitaciones"><label for="Treshabitaciones">3 habitaciones</label></li>
              <li><input id="Cincohabitaciones" type="checkbox" formControlName="Cincohabitaciones"><label for="Cincohabitaciones">5 habitaciones</label></li>
              <li><input id="NueveOmashabitaciones" type="checkbox" formControlName="NueveOmashabitaciones"><label for="NueveOmashabitaciones">9+ habitacioneso</label></li> -->






      <!-- </ul> -->
    </div>
  </div>


</div>

<table>
  <tr>
    <th>
      Nombre
    </th>
    <th>
      Email
    </th>
    <th>
      Coincidencias
    </th>
    <th>
      Caracteristicas
    </th>
  </tr>

  <tr *ngFor="let inmuebleEncontrado of inmueblesEncontrados">
    <td>
      {{inmuebleEncontrado.name}}
    </td>
    <td>
      {{ inmuebleEncontrado.email}}
    </td>
    <td>
      {{ inmuebleEncontrado.contador}}
    </td>
    <td>
      <span *ngFor="let caract of inmuebleEncontrado.caracteristicas">
        {{caract.descripcion}}
      </span>
    </td>
  </tr>
</table>