<div class="sidenav">
  <a href="IngresaProc" ><h3>Ingresa</h3></a>
  <hr>
  <a href="InfDeRegis"><h3>Registra</h3></a>
  <hr>
  <a href="MuestraDeArt"><h3>Gestiona</h3></a>  <hr>
</div>
  
  <!-- Page content -->
  <div class="main">
    <div class="class=container mt-5"></div>
    <h2>Danos mas  <small>  </small></h2>
    <div class="class=container mt-5"></div>
    <div class="m-5">
    
      <h1>Set99</h1>
      <hr>
    
      <button class="btn btn-outline-danger"
              (click)="salir()">
        Salir
      </button>
      </div>
      </div>
     
  
      
      